@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: comic;
  src: url('comic.woff2') format('woff2');
}
/**
 * @author 言成
 * @date 2020/3/29
 * @Description: 这是第二版，将rem布局修改为自适应
*/
/*========reset css===============*/
*,
*::before,
*::after {
  /*所有的标签和伪元素都选中*/
  margin: 0;
  padding: 0;
  /*移动端常用布局是非固定像素布局*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*点击高亮效果清除*/
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 20px;
  font-family: Consolas, sans-serif;
  color: #F3F3F5;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #F3F3F5;
}
input,
textarea {
  border: none;
  outline: none;
  /*不允许改变尺寸*/
  resize: none;
  /*元素的外观 none没有任何样式*/
  -webkit-appearance: none;
}
/*===============common css===========*/
/*清除浮动*/
.clearFix::before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
/*===============diy css===========*/
.header {
  height: 50px;
  line-height: 50px;
  position: fixed;
  margin: 0 auto;
  padding: 0 15px;
  top: 0;
  left: 0;
  right: 0;
  color: #F3F3F5;
  background-color: #13172F;
  border-bottom: 1px solid #3e4c42;
  z-index: 999;
}
.header a {
  transition: all 0.3s ease !important;
  color: #F3F3F5 !important;
}
.header a:hover {
  color: gold !important;
  text-decoration: none !important;
}
.header .header-title {
  display: inline-block;
  padding-left: 10px;
  font-size: 21px;
}
.header .header-menu,
.header .header-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
}
.header .header-menu span,
.header .header-search span {
  font-size: 30px;
}
.in {
  transform: translateY(0);
  transition: transform 0.2s;
}
.out {
  transform: translateY(-100%);
  transition: transform 0.2s;
}
@media screen and (min-width: 960px) {
  .header {
    width: 960px;
  }
  .header .header-menu,
  .header .header-search {
    display: none;
  }
  .header .header-navbar {
    float: right;
  }
  .header .header-navbar li {
    float: left;
    padding: 0 10px;
  }
}
@media screen and (max-width: 960px) {
  .header {
    width: 100%;
  }
  .header .header-menu,
  .header .header-search {
    display: block;
  }
  .header .header-title {
    display: block;
    text-align: center;
  }
  .header .header-title span {
    display: none;
  }
  .header .header-navbar {
    display: none;
    width: 100%;
    background-color: #13172F;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50px;
  }
  .header .header-navbar li {
    padding: 0 20px;
  }
  .header .header-menu {
    right: 10px;
  }
  .header .header-search {
    left: 10px;
  }
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #13172F;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #13172F;
  z-index: -1;
}
.main-content {
  margin: 50px auto 0;
  overflow: hidden;
  font-size: 17px;
  opacity: 0;
}
.main-content a {
  transition: all 0.3s ease !important;
}
.main-content a:hover {
  color: gold !important;
  border-color: gold !important;
  text-decoration: none !important;
}
.main-content .post {
  border-bottom: 2px solid #3e4c42;
  padding: 20px;
}
.main-content .post .post-comment {
  margin-top: 30px;
}
.main-content .post .post-comment .instruction {
  display: block;
  text-align: center;
}
.main-content .post .post-comment #gitalk-container .gt-meta {
  border: none;
}
.main-content .post .post-title {
  font-size: 21px;
}
.main-content .post .post-excerpt {
  padding: 10px 0;
}
.main-content .post .post-content {
  font-size: 16px;
  padding-bottom: 10px;
}
.main-content .post .post-content a {
  padding: 2px 9px;
  border: 1px solid #F3F3F5;
  border-radius: 10px;
}
.main-content .post .post-content .article-tag-list {
  float: right;
}
.main-content .post .post-content .article-tag-list .article-tag-list-item {
  float: left;
  padding: 0 1px;
}
.main-content .post .post-media {
  font-size: 16px;
  text-align: right;
}
.main-content .post-nav {
  text-align: center;
  margin-top: 40px;
}
.main-content .post-nav .page-nav {
  display: inline-block;
}
.main-content .post-nav .page-nav .page-number,
.main-content .post-nav .page-nav .extend.prev,
.main-content .post-nav .page-nav .extend.next {
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid #F3F3F5;
  color: #F3F3F5;
  float: left;
}
.main-content .post-nav .page-nav span.space {
  float: left;
}
.main-content .post-nav .page-nav span.page-number {
  color: gold;
  border-color: gold;
}
@media screen and (min-width: 960px) {
  .main-content {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .main-content {
    width: 100%;
  }
}
.busuanzi {
  margin-top: 10px;
  text-align: center;
}
.yourclass {
  overflow: hidden;
}
.outline {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #288EAD;
  border: 1px solid #3e4c42;
  color: #F3F3F5;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 10px;
  border-radius: 50%;
  z-index: 1001;
}
.layui-layer-page {
  background-color: #13172f !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}
.layui-layer-title {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.layui-layer-content ul {
  list-style: none;
}
.layui-layer-dialog {
  background-color: #13172F !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}
.catalog-container {
  padding: 5px 10px;
  font-size: 16px;
}
.catalog-container ul li a {
  text-decoration: underline;
}
.post-title .title {
  font-size: 26px;
}
.post-btn {
  text-align: center;
  margin-top: 30px;
}
.post-btn .post-donation-btn,
.post-btn .post-share-btn {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 10px;
}
.post-btn .post-donation-btn {
  background-color: #25AD87;
}
.post-btn .post-share-btn {
  background-color: #C8B735;
}
.post-detail {
  color: #FF787F;
  text-align: left;
  font-size: 15px;
}
@media screen and (max-width: 960px) {
  .post-media2 {
    display: none;
  }
}
.blog-markdown {
  font-size: 17px !important;
  /*设置h标签*/
  /*设置无序有序标签*/
  /*设置引用标签*/
  /*设置加粗倾斜*/
  /*设置图片*/
  /*设置表格*/
  /*设置超链接*/
  /*设置段落格式*/
  /*设置关键字*/
  /*设置代码块*/
}
.blog-markdown .headerlink,
.blog-markdown a {
  border: 0 !important;
  padding: 0 !important;
}
.blog-markdown h6 {
  font-size: 18px !important;
  margin: 10px 0;
}
.blog-markdown h5 {
  font-size: 19px !important;
  margin: 10px 0;
}
.blog-markdown h4 {
  font-size: 20px !important;
  margin: 10px 0;
}
.blog-markdown h3 {
  font-size: 21px !important;
  margin: 10px 0;
}
.blog-markdown h2 {
  font-size: 22px !important;
  margin: 10px 0;
}
.blog-markdown h1 {
  font-size: 23px !important;
  margin: 10px 0;
}
.blog-markdown ul,
.blog-markdown ol {
  margin-left: 30px;
}
.blog-markdown ul li,
.blog-markdown ol li {
  margin: 3px 0;
}
.blog-markdown ul {
  list-style-type: disc;
}
.blog-markdown ul li > ul {
  list-style-type: circle;
}
.blog-markdown ul li > ul li ul {
  list-style-type: square;
}
.blog-markdown ol {
  list-style-type: decimal;
}
.blog-markdown ol li > ul {
  list-style-type: circle;
}
.blog-markdown ol li > ul li ul {
  list-style-type: square;
}
.blog-markdown blockquote {
  border: none;
  color: #F3F3F5;
  margin: 20px 0;
  padding: 0 0 0 10px;
  min-height: 20px;
  background-color: transparent;
  line-height: inherit;
  border-left: 4px solid #479680;
}
.blog-markdown strong {
  margin: 0 3px;
}
.blog-markdown em {
  padding-right: 3px;
}
@media screen and (min-width: 960px) {
  .blog-markdown img {
    max-width: 920px;
    display: block;
    margin: 15px auto 30px auto;
    border-radius: 3px;
  }
}
@media screen and (max-width: 960px) {
  .blog-markdown img {
    width: 100%;
    display: block;
    margin: 15px auto 30px auto;
    border-radius: 3px;
  }
}
.blog-markdown > table {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #3e4c42;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 3px;
}
.blog-markdown > table th {
  font-family: inherit;
  font-size: inherit;
  background-color: #30303a !important;
  white-space: nowrap;
  font-weight: 600;
  border: 1px solid #3e4c42 !important;
  padding: 8px 16px !important;
}
.blog-markdown > table td {
  border: 1px solid #3e4c42 !important;
  padding: 8px 16px !important;
}
.blog-markdown a {
  padding: 0 !important;
  border-radius: 0 !important;
  color: gold !important;
  background-color: transparent !important;
}
.blog-markdown p {
  margin: 10px auto;
  text-indent: 0;
}
.blog-markdown code {
  color: #F3F3F5;
  line-height: 1;
  padding: 1px 4px;
  margin: 0 3px;
  border-radius: 3px !important;
  border: 1px solid #3e4c42;
  background-color: #30303a;
}
.blog-markdown figure.highlight {
  background-color: #30303a;
  padding: 30px 0 10px 0;
  border: 1px solid #3e4c42;
  border-radius: 3px;
  position: relative;
  overflow-x: auto;
  width: 100%;
}
.blog-markdown figure.highlight span.language {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 6px 6px 6px;
  border-radius: 10px;
}
.blog-markdown figure.highlight table {
  width: 100%;
  position: relative;
}
.blog-markdown figure.highlight table .line {
  font-family: comic, Consolas, sans-serif !important;
  line-height: 12px;
}
.blog-markdown figure.highlight table .line .comment,
.blog-markdown figure.highlight table .line .quote {
  color: #5c6370;
  font-style: italic;
}
.blog-markdown figure.highlight table .line .doctag,
.blog-markdown figure.highlight table .line .keyword,
.blog-markdown figure.highlight table .line .formula {
  color: #c678dd;
}
.blog-markdown figure.highlight table .line .section,
.blog-markdown figure.highlight table .line .name,
.blog-markdown figure.highlight table .line .selector-tag,
.blog-markdown figure.highlight table .line .deletion,
.blog-markdown figure.highlight table .line .subst {
  color: #e06c75;
}
.blog-markdown figure.highlight table .line .literal {
  color: #56b6c2;
}
.blog-markdown figure.highlight table .line .string,
.blog-markdown figure.highlight table .line .regexp,
.blog-markdown figure.highlight table .line .addition,
.blog-markdown figure.highlight table .line .attribute,
.blog-markdown figure.highlight table .line .meta-string {
  color: #98c379;
}
.blog-markdown figure.highlight table .line .built_in,
.blog-markdown figure.highlight table .line .class .title {
  color: #e6c07b;
}
.blog-markdown figure.highlight table .line .attr,
.blog-markdown figure.highlight table .line .variable,
.blog-markdown figure.highlight table .line .template-variable,
.blog-markdown figure.highlight table .line .type,
.blog-markdown figure.highlight table .line .selector-class,
.blog-markdown figure.highlight table .line .selector-attr,
.blog-markdown figure.highlight table .line .selector-pseudo,
.blog-markdown figure.highlight table .line .number {
  color: #d19a66;
}
.blog-markdown figure.highlight table .line .symbol,
.blog-markdown figure.highlight table .line .bullet,
.blog-markdown figure.highlight table .line .link,
.blog-markdown figure.highlight table .line .meta,
.blog-markdown figure.highlight table .line .selector-id,
.blog-markdown figure.highlight table .line .title {
  color: #61aeee;
}
.blog-markdown figure.highlight table .line .emphasis {
  font-style: italic;
}
.blog-markdown figure.highlight table .line .strong {
  font-weight: bold;
}
.blog-markdown figure.highlight table .line .link {
  text-decoration: underline;
}
.blog-markdown figure.highlight table .gutter {
  width: 30px;
}
.blog-markdown figure.highlight table .gutter pre {
  padding-left: 8px;
  text-align: right;
  color: #3e4c42;
}
.blog-markdown figure.highlight table .code pre {
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}
.blog-markdown figure.highlight table::before {
  position: absolute;
  top: -30px;
  left: 0;
  min-width: 100%;
  display: block;
  height: 30px;
  background-color: #3e4c42;
  content: "";
}
.blog-markdown figure.highlight table tbody {
  pointer-events: none;
}
.blog-markdown figure.highlight table tbody::after {
  position: absolute;
  top: -30px;
  right: 0;
  content: "copy";
  padding: 5px 6px 6px 6px;
  border-radius: 10px;
  background-color: skyblue;
  cursor: pointer;
  pointer-events: all;
}
.blog-markdown figure.highlight table tbody .before {
  opacity: 0;
  position: absolute;
  top: -30px;
  right: 50px;
  padding: 5px 6px 6px 6px;
  background-color: skyblue;
  content: "success";
  border-radius: 10px;
  animation: copy 1.5s;
}
@keyframes copy {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blog-markdown figure.highlight::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 5px;
}
.blog-markdown figure.highlight::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #13172F;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.blog-markdown figure.highlight::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.tag-tags .tags-title {
  font-size: 26px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.tag-tags .tags-all {
  margin-top: 10px;
}
.tag-tags .tags-all li {
  float: left;
  margin: 10px 5px;
}
.tag-tags .tags-all li a {
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #F3F3F5;
  color: #F3F3F5;
}
.tag-tags .posts-all {
  margin: 10px 0;
  text-align: left;
}
.tag-tags .posts-all li {
  padding: 5px 15px;
  border-radius: 10px;
  border-bottom: 1px solid #3e4c42;
  color: #F3F3F5;
  margin-top: 10px;
  width: 100%;
}
.tag-tags .posts-all li span {
  width: 50%;
  display: inline-block;
  text-align: right;
  padding-right: 50px;
}
.tag-tags .posts-all li a {
  width: 50%;
  display: inline-block;
}
.progress {
  width: 100%;
  height: 17px;
  background-color: #F3F3F5;
}
.inner-progress {
  height: 17px;
  line-height: 17px;
  font-size: 17px;
  background-color: #288EAD;
  color: #fff;
  text-align: center;
}
.search,
.up,
.down,
.app {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #3e4c42;
  color: #F3F3F5;
  cursor: pointer;
  position: fixed;
  right: 10px;
  border-radius: 50%;
  z-index: 1001;
}
.search {
  background-color: #FF787F;
  bottom: 200px;
}
.up {
  background-color: #25AD87;
  bottom: 150px;
}
.down {
  background-color: #C8B735;
  bottom: 100px;
}
.app {
  background-color: #3e4c42;
  bottom: 250px;
}
@media screen and (max-width: 960px) {
  .search {
    display: none;
  }
  .app {
    bottom: 200px;
  }
}
.search-container {
  margin: 0 auto;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
}
.search-container #input {
  outline: none;
  border: 1px solid orange;
  padding: 5px 10px;
  vertical-align: middle;
  border-radius: 10px;
}
.search-container .btn-search {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}
.search-container .result {
  list-style: none;
}
.search-container .result li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
